{% extends 'boards/base.html' %}
{% block body %}
<h1>{{ board.id }}번글</h1>
<hr>
<h2>{{ board.title }}</h2>
<p>{{ board.content }}</p>
<a href="{% url 'boards:index' %}">목록보기</a>
<form action="{% url 'boards:delete' board.pk %}" method="POST" style="display: inline" onsubmit="return confirm('삭제할거야?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<a href="{% url 'boards:edit' board.pk %}">수정</a>
<hr>
<p>댓글 작성</p>
<form action="{% url 'boards:comments_create' board.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit">
</form>
{% for comment in comments %}
    <li>{{ comment.content }}</li>
{% endfor %}
{% endblock %}