{% extends 'boards/base.html' %}
{% load static %}
{% block body %}
<img src="{% static 'iu.jpg' %}">
    {% for board in contents %}
        <h3>{{ board.pk }}번째 글</h3>
        <h1>{{ board.title }}</h1>
        <a href="{% url 'boards:detail' board.pk %}">글 보기</a>
        <form action="{% url 'boards:delete' board.pk %}" method="POST" style="display: inline" onsubmit="return confirm('삭제할거야?')">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        <a href="{% url 'boards:edit' board.pk %}">수정</a>
        <hr>
    {% endfor %}
    <a href="{% url 'boards:new' %}">등록하기</a>
{% endblock %}